.reel-box {
  width: 220px;
  aspect-ratio: 9 / 16;
  overflow: hidden;
  border-radius: 14px;
}

.reel-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cinematic-box {
  width: 420px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 20px;
}

.cinematic-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}