/* font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif; */

html,
body {

  font-size: 18px;
  line-height: 1.6;
  color: #ededed;
  background-color: #171717;
  /* mobile viewport fix */

  height: 100vh;
  /* fallback for Js load */
  height: var(--doc-height);
}

body {
  overflow-x: hidden;
}

.main-site-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


.menu {
  color: #da0037 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #ededed;
}

p {
  color: #ededed;
}

.title {
  line-height: 0.9 !important;
  font-size: 15vw !important;
  font-family: "Oswald", sans-serif;
}

.sub-title {
  margin-top: 15vh;
  font-size: 3rem;
  text-align: right;
  color: #da0037;
  font-family: "Oswald", sans-serif;
}

.heading {
  overflow: hidden;
  border-bottom: 4px solid #da0037;
}

.section-heading {
  padding-top: 15vh;
  padding-bottom: 8vh;
  text-align: center;
  color: #ededed;
}

#soft-title {
  text-align: left;
  padding-left: 13%;
}

.list-text {
  color: #ededed;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 45px;
  font-size: 14px;
}

.skills {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Navbar settings */
nav {
  background-color: transparent !important;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-block;
}

nav ul a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

nav ul li a {
  color: #ededed;
  font-size: 1.3em;
}

#nav-wrapper {
  overflow: hidden;
  z-index: 4;
}

#nav-mobile a:hover,
#nav-mobile a:focus {
  color: #565656 !important;
}

/* Mobile Navbar settings */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(24, 24, 24, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ededed;
  display: block;
  transition: 0.3s;
  font-size: 1.3em;
}

.overlay a:hover,
.overlay a:focus {
  color: #565656;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#side-nav {
  display: none;
  text-align: center;
  /* margin-top: -30vh; */
}

/* sticky navbar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
}

#about-info {
  text-align: left;
  padding: 30px;
  background-color: #565656;
  border-radius: 5px;
}

#image-info {
  padding-left: 20px;
  padding-top: 20px;
}

#owen-pic {
  height: 30vh;
  border-radius: 5px;
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(24, 24, 24, 0.9);
  margin: 5px 10px 10px 5px;
  clear: both;
}

#owen-pic-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(24, 24, 24, 0.9);
  margin-bottom: 20px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(#000000, #171717);
}

#contact {
  background-image: linear-gradient(#171717, #565656);
  margin-top: 200px;
}

#contact-title {
  margin-top: -100px;
}

.contact-content a {
  color: #ededed;
}

.contact-content a:hover,
.contact-content a:focus {
  color: #da0037 !important;
  text-decoration: underline;
  font-size: 1.1em;
}

.page-footer {
  text-align: center;
  padding-top: 20px !important;
  margin-bottom: 20px;
  background-color: transparent !important;
  z-index: 100;
  height: 60px;
}

#c-right {
  margin-top: -100px;
}

/* animated arrow down */
.wrap-around {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #da0037;
}

.wrap-around a,
#contact-me {
  text-align: center !important;
  color: #da0037;
}

/* Diagnol line on contact panel */
.wave {
  background-color: #171717;
}

.wave svg {
  display: block;
}

.wave.upper {
  background-color: #565656;
  padding-bottom: 0;
}

/* grayscale youtube videos */
/* iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  border-radius: 5px;
  padding-bottom: 5px;
} */




@media screen and (max-width: 1245px) {
  .sub-title {
    font-size: 3rem;
    margin-top: 8vh;
  }

  .main-site-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .sub-title {
    font-size: 2.5rem;
    margin-top: 8vh;
  }

  .title {
    font-size: 18vw !important;
  }
}

@media screen and (max-width: 768px) {
  .main-site-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    line-height: 1.4;
  }

  #nav-wrapper {
    display: none;
  }

  #side-nav {
    display: block;
  }

  .sub-title {
    font-size: 2rem;
    margin-top: 6vh;
  }

  .title {
    font-size: 19vw !important;
  }
}

@media screen and (max-width: 480px) {
  .wave.upper {
    margin-bottom: 50px;
    padding-bottom: -10px;
  }

  .step-description {
    text-align: center;
  }

  #soft-title {
    text-align: center;
    padding: 0;
  }

  iframe {
    padding-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .sub-title {
    font-size: 1.5rem;
    margin-top: 5vh;
  }
}

@media screen and (max-width: 251px) {
  .sub-title {
    font-size: 1rem;
  }
}